.society-Issue{background-color: #F8F8F8 ;}
 
.hr
{  margin-top: 0em;
   margin-bottom: 1em;
   border-width: 2px;
} 
.flex-container{background-color: white;
 padding-top: 10px;
     margin-right: 20px;
     margin-left: 20px;   
  border-radius: 10px;
}