<div class="full-otp-container">

    <div class="d-flex justify-content-between otp-container p-3">
        <span class="header-label" routerLink="../PhoneNuber">Back</span>
        <span class="header-label" routerLink="../Terms">Recovery</span>
        <span class="header-label" routerLink="../Noticeboard"> X</span>
    </div>
    
    <div class="d-flex flex-column midle-container p-3">
        <div class="title-label mb-2">Enter recovery code</div>
        <div class="description-label"> We have sent it on your mobile</div>
        <mat-form-field appearance="outline" class="mt-4">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Verification Code">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon class="customIconSize"> {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

    </div>
</div>