<div class="visitor-detail">
    <div class="d-flex justify-content-between px-3 py-2">
        <div class="condition px-2 label-10-700 pending">
            PENDING
        </div>
        <hr class="hr">
        <div class="opacity-mini-label"><strong>Allowed Exit Till:</strong> {{household?.allowedEndTime | date:
            'short'}}</div>
    </div>
    <hr class="hr">
    <div class="p-1  d-flex flex-column align-items-center"></div>
    <div class="daily-helper d-flex p-2">
        <img class="member-photo me-3"
            [ngStyle]="household?.imageUrl ? {'object-fit': 'cover'} : {'background-color': 'white', 'object-fit': 'none'}"
            [src]="household?.imageUrl ? (household?.imageUrl + readSASToken) : 'assets/images/ic_defaultuser.svg'">
        <span class="flex-grow-1 justify-content-center d-flex flex-column">
            <div class="sub-heading-label">{{household?.name}}</div>
            <div class="sub-label">{{household?.role | titlecase }}</div>
            <div class="sub-label">{{household?.formattedType | titlecase }}</div>
        </span>
    </div>
    <hr class="hr">
    <div class="d-flex">
        <button class="color-primary flex-grow-1 label-15-400 px-5" (click)="cancel()" mat-button>Cancel</button>
    </div>
</div>