<div class="main-container">
  <div class="d-flex justify-content-between p-3">
    <span class="title-label">Visitors</span>
    <span class="title-label">plus</span>
  </div>
  <div>
    <mat-chip-list aria-label="select">
      <mat-chip>All</mat-chip>
      <mat-chip selected>Delivery</mat-chip>
      <mat-chip>Guest</mat-chip>
      <mat-chip>Guest</mat-chip>
      <mat-chip >Guest</mat-chip>
    </mat-chip-list>
  </div>
  <div class="d-flex justify-content-between p-3">
    <span class="header2-label">48 visitors</span>
    <span>
      <select name="Week" style="border: none;">
        <option value="This-Week  ">This Week</option>
        <option value="Last-Week">Last Week</option>
      </select>
    </span>
  </div>
  <ng-container>
  <div class="visitor-detail">
    <div class="d-flex justify-content-between p-3">
      <div class=" condition smallest-yello-label ">Pending</div>
      <div class="opacity-mini-label">12:12</div>
    </div><hr>
    <div class="p-1 d-flex flex-column align-items-center"></div>
    <div></div>
  </div>
  </ng-container>
</div>