.main-container{
    background-color: #f2f2f2 ;
    height: 100%;
}

.visitor-detail{
    background-color: white;
    border-radius: 10px;
    margin-left: 3%;
    margin-right: 3%;
}

.condition{
    background-color: rgb(234, 233, 163);
    text-align: center;
    height: 20px;
    width: 20%;
}