<div class="notice-container">
    <div class="d-flex justify-content-between p-3 ">
        <span class="header-label">Back</span>
        <span class="header-label">Noticeboard</span>
        <span class="header-label" routerLink="../Home">plus</span>
    </div>
    <hr class="hr">
    <div class="pb-3">
        <button mat-stroked-button class="filter-btn active ms-1 "><b>All</b></button>
        <button mat-stroked-button class="filter-btn  ms-1"> Society issue</button>
        <button mat-stroked-button class="filter-btn  ms-1">Payment</button>
        <button mat-stroked-button class="filter-btn ms-1">Listing</button>
    </div>
    <div class="flex-container">
        <div class="d-flex justify-content-between px-3 align-items-center">
            <span><small><button mat-stroked-button class="filter-btn ms-1"  routerLink="../SocietyIssue">Society Issue</button></small></span>
            <span class="opacity-label">30-feb-2023</span>
        </div>
        <hr>
        <div class="d-flex flex-column p-3">
            <div class="header-label">Vaccinatiion for 16 years and above
            </div>
            <p class="mt-2 paragraph-label">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ipsa
                cupiditate quis
                modi quos quaerat? Nam recusandae minima a illum cum. Odio dolores et amet libero voluptates tempore
                veniam ipsa!</p>
        </div>
    </div> <br>
    <div class="flex-container">
        <div class="d-flex justify-content-between px-3 align-items-center">
            <span><small><button mat-stroked-button class="filter-btn ms-1" routerLink="../SocietyIssue">Society Issue</button></small></span>
            <span  class="opacity-label">30-feb-2023</span>
        </div>
        <hr>
        <div class="d-flex flex-column p-3">
            <div class="header-label">Vaccinatiion for 16 years and above
            </div>
            <p class="mt-2 paragraph-label">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ipsa
                cupiditate quis
                modi quos quaerat? Nam recusandae minima a illum cum. Odio dolores et amet libero voluptates tempore
                veniam ipsa!</p>
        </div>
    </div>
    <br>
    
    <div class="flex-container">
        <div class="d-flex justify-content-between px-3 align-items-center">
            <span><small><button mat-stroked-button class="filter-btn warn ms-1">Payment</button></small></span>
            <span class="opacity-label">30-feb-2023</span>
        </div>
        <hr>
        <div class="d-flex flex-column p-3">
            <div class="header-label">News Paper Service Payment
            </div>
            <p class="mt-2 paragraph-label">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ipsa
                cupiditate quis
                modi quos quaerat? Nam recusandae minima a illum cum. Odio dolores et amet libero voluptates tempore
                veniam ipsa!</p>
        </div>
    </div><br>
    <div class="flex-container">
        <div class="d-flex justify-content-between px-3 align-items-center">
            <span><small><button mat-stroked-button class="filter-btn warn ms-1">Payment</button></small></span>
            <span class="opacity-label">30-feb-2023</span>
        </div>
        <hr>
        <div class="d-flex flex-column p-3">
            <div class="header-label">News Paper Service Payment
            </div>
            <p class="mt-2 paragraph-label">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ipsa
                cupiditate quis
                modi quos quaerat? Nam recusandae minima a illum cum. Odio dolores et amet libero voluptates tempore
                veniam ipsa!</p>
        </div><br>
    </div>
</div>