<mat-progress-bar *ngIf="loaderService.isLoading || true | async"  style="z-index: 9999; position: sticky; top: 0;" class="w-100" mode="query"></mat-progress-bar>
<div class="main-container">

   <div class="d-flex justify-content-center py-3">
      <span class="header2-label">{{title}}</span>
   </div>
   <hr class="hr pb-1">
   <div class="p-3">
      <form [formGroup]="addHouseholeFormGroup" (submit)="addHousehold()">
         <div class="d-flex justify-content-center" (click)="selectImage()">
            <img class="photo-container" style="object-fit: none;"
               [src]="image?.base64String ? 'data:image/'+image?.format+ ';base64,' + image?.base64String : 'assets/images/ic_defaultcamera.svg'"
               [ngStyle]="image?.base64String ? {'object-fit': 'cover'} : {'object-fit': 'none'}">
         </div>

         <ng-container *ngIf="showAdultSelection">
            <div class="d-flex mt-4 type-container">
               <button type="button" mat-stroked-button class="filter-btn m-1 flex-grow-1"
                  [ngClass]="{'active': isAdultSelected}" style="border: transparent !important;"
                  (click)="toggleAdult()">Adult</button>
               <button type="button" mat-stroked-button class="filter-btn m-1 flex-grow-1"
                  [ngClass]="{'active': !isAdultSelected}" style="border: transparent !important;"
                  (click)="toggleAdult()">Kid</button>
            </div>
         </ng-container>
         <ng-container *ngIf="showPhoneNumber">
            <div class="sub-mini-label mt-4">Phone Number</div>
            <div class="d-flex">
               <mat-form-field appearance="outline" class="w-100 flex-grow-1">
                  <input formControlName="phoneNumber" matInput placeholder="Phone Number" maxlength="12">
               </mat-form-field>
            </div>
         </ng-container>

         <div class="sub-mini-label mt-4">Name</div>
         <mat-form-field class="w-100" appearance="outline" hideRequiredMarker>
            <input matInput placeholder="Name" formControlName="name">
            <mat-icon class="mat-icon " matSuffix>perm_contact_calendar</mat-icon>
         </mat-form-field>

         <div class="sub-mini-label mt-4">Email</div>
         <mat-form-field class="w-100" appearance="outline" hideRequiredMarker>
            <input matInput placeholder="Email" formControlName="email">
         </mat-form-field>

         <ng-container *ngIf="showPermissions">
            <div class="sub-mini-label mt-4 mb-1">When they exit society</div>
            <mat-chip-list>
               <mat-chip *ngFor="let permission of permissions" class="selection-chip"
                  [ngClass]="{'active': currentPermission === permission}" (click)="currentPermission = permission">
                  {{permission}}
               </mat-chip>
            </mat-chip-list>
         </ng-container>

         <div class="d-flex my-5 flex-wrap">
            <mat-chip-list>
               <mat-chip *ngFor="let role of roles$ | async" class="selection-chip"
                  [ngClass]="{'active': activeRole === role}" (click)="activeRole = role">
                  {{role.name}}
               </mat-chip>
            </mat-chip-list>
         </div>

         <button [disabled]="!addHouseholeFormGroup.valid" mat-flat-button color="primary"
            class="mat-flat-button w-100 my-3">Add</button>

         <!-- <button  mat-flat-button color="warn" type="reset"
            class="mat-flat-button w-100">Remove</button> -->
      </form>
   </div>
</div>