<div class="main-container">
    <div class="d-flex justify-content-between p-3">
        <span style=" visibility: hidden;">kkkiiijjjjiii</span>
        <span class="header2-label">Add Family</span>
        <span class="header2-label">Cross</span>
    </div>
    <hr class="hr pb-1">
    <form class="" (submit)="addkid()">
        <div class="d-flex justify-content-center">
            <img class="photo-container" src="http://bluegalaxy.info/images/sea_captain.jpg">
        </div>
        <div  class="togle-container m-3 p-1">
           <mat-button-toggle-group class="w-100 " >
             <mat-button-toggle class="w-50 "  routerLink="/AddFamily"  value="Adult">Adult</mat-button-toggle>
             <mat-button-toggle class="w-50 "   value="kid">kid</mat-button-toggle>
           </mat-button-toggle-group>
      </div>
       <div class="p-3 w-100">             
        <div class="sub-mini-label">Name</div>
        <mat-form-field  class="mat-family-memberName  w-100" appearance="outline"  hideRequiredMarker>
            <input  matInput  type="text">
        </mat-form-field> 
      
       
        <label class="sub-mini-label">When they exit society</label>
        <mat-chip-list >
            <mat-chip>Require Permission</mat-chip>
            <mat-chip>Send Notification</mat-chip>
            <mat-chip >Permission Not Required</mat-chip>
          </mat-chip-list>
       </div>
       <div class="add-buuton w-100 p-3">
        <button mat-flat-button color="primary" class="mat-flat-button  w-100">Add</button>
     </div>

    </form>
</div>

