/* For use in src/lib/core/theming/_palette.scss */
$my-habitat-primary-palette: (
    50 : #ebecf6,
    100 : #cdd0e8,
    200 : #abb0d9,
    300 : #8990c9,
    400 : #7079be,
    500 : #5761b2,
    600 : #4f59ab,
    700 : #464fa2,
    800 : #3c4599,
    900 : #ea826b,
    1000: #1FC5AB,
    1100 : #000C64,
    A100 : #ced2ff,
    A200 : #9ba3ff,
    A400 : #6874ff,
    A700 : #4f5cff,
    contrast: (
        50 :  #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

