<div class="main-container">
    <div class="d-flex justify-content-between p-3">
        <mat-icon routerLink="/home-owner">arrow_back</mat-icon>
        <span class="header2-label">Society Manager</span>
        <span></span>
    </div>
    <hr class="hr">
    <div class="p-3 " style="padding-bottom: 120px !important; overflow: scroll;" #chatBox>

        <ng-container *ngFor="let message of (homeOwner$ | async)?.messages">
            <app-my-text-message [message]="message"
                *ngIf="message.type === 'TEXT' && message.sentById === (homeOwner$ | async)?.entityId">
            </app-my-text-message>

            <app-other-text-message [message]="message"
                *ngIf="message.type === 'TEXT' && message.sentById !== (homeOwner$ | async)?.entityId">
            </app-other-text-message>

        </ng-container>
    </div>
</div>

<form class="pb-3 w-100" style="position: fixed; bottom: 0px; border-radius: 30px 30px 0 0px; background-color: white;">
    <mat-form-field appearance="outline" class="w-100 add-message" hideRequiredMarker>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" name="ecgFindings" cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="3" maxlength="240" placeholder="Type your message here..." [(ngModel)]="text"
            class="w-100 no-scroll"></textarea>
        <button matSuffix mat-button style="margin-top: 5px; min-width: 0px; padding: 5px 5px" (click)="sendMessage()">
            <mat-icon>send</mat-icon>
        </button>
    </mat-form-field>
</form>