
<app-header title="Society Manager" [bkgClass]="'bkg-white'" rightIcon="call_chat"></app-header>

<div class="main-container h-100 header-padding" style="overflow: scroll;" #chatBox>
    <div class="p-3 " style="padding-bottom: 80px !important;">

        <ng-container *ngFor="let message of (homeOwner$ | async)?.messages;">
            <app-my-text-message [message]="message"
                *ngIf="message.type === 'TEXT' && message.sentById === (homeOwner$ | async)?.entityId">
            </app-my-text-message>

            <app-other-text-message [message]="message"
                *ngIf="message.type === 'TEXT' && message.sentById !== (homeOwner$ | async)?.entityId">
            </app-other-text-message>

            <app-my-image-message [message]="message" (onClick)="openLightbox($event)"
                *ngIf="message.type === 'IMAGE' && message.sentById === (homeOwner$ | async)?.entityId">
            </app-my-image-message>

            <app-other-image-message [message]="message" (onClick)="openLightbox($event)"
                *ngIf="message.type === 'IMAGE' && message.sentById !== (homeOwner$ | async)?.entityId">
            </app-other-image-message>

        </ng-container>
    </div>
</div>

<form class="pb-3 w-100" style="position: fixed; bottom: 0px; border-radius: 30px 30px 0 0px; background-color: white;">
    <mat-form-field style="font-size: 14px !important" appearance="outline" class="w-100 add-message"
        hideRequiredMarker>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" name="ecgFindings" cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="3" maxlength="240" placeholder="Type your message here..." [(ngModel)]="text"
            class="w-100 no-scroll"></textarea>

        <button matSuffix mat-button class="me-3" style="margin-top: 5px; min-width: 0px; padding: 5px 5px"
            (click)="selectImage()">
            <mat-icon svgIcon="chat_attach" style="line-height: 0 !important;"></mat-icon>
        </button>

        <button matSuffix mat-button style="margin-top: 5px; min-width: 0px; padding: 9px;
        background: #DDCA5B;
        border-radius: 20px;
        box-shadow: 0 0 10px #dcc963;" (click)="sendMessage()">
            <mat-icon svgIcon="chat_send"></mat-icon>
        </button>


    </mat-form-field>
</form>

<ng-image-fullscreen-view [images]="media" [imageIndex]="selectedImageIndex" [show]="showMedia"
    (close)="closeMedia()"></ng-image-fullscreen-view>