.filter-btn {
    background-color: #11854E44;
    color: #11854E !important;
    font-size: 10px !important;
    border-radius: 4px !important;
    padding: 5px 8px !important;
    height: auto !important;
}