<div class="society-Issue">
    <div class="d-flex justify-content-between p-3 ">
        <span class="header-label" routerLink="../Noticeboard">Back</span>
        <span class="header-label">Vaccination for 16yrs & above</span>
        <span class="header-label">plus</span>
    </div> <hr class="hr">
    <div class="flex-container">
        <div class="d-flex justify-content-between px-3 align-items-center">
            <span><small><button mat-stroked-button class="filter-btn ms-1">Society Issue</button></small></span>
            <span class="opacity-label">30-feb-2023</span>
        </div>
        <hr>
        <div class="d-flex flex-column p-3">
            <div class="header-label">Vaccination for 16 years and above</div>
            <p class="mt-2 paragraph-label">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi, nemo minus voluptatum debitis corrupti reprehenderit laboriosam, possimus tempore nostrum, assumenda cumque iure perspiciatis numquam totam odio iusto quam enim atque soluta cupiditate? Neque rerum quae suscipit dignissimos? Magni, recusandae vero, laboriosam consequatur nemo tenetur pariatur delectus quisquam quod fugiat iste hic nesciunt! Impedit ipsam nisi adipisci minus unde asperiores labore voluptatem dolorum sunt sapiente. Saepe nobis nesciunt aliquam iusto numquam expedita ipsa explicabo minus, adipisci dolorem asperiores, corporis minima, cumque nostrum repudiandae dicta dolorum quaerat illo esse aliquid? Maxime nostrum dicta voluptatibus modi architecto deleniti rerum reprehenderit ad perspiciatis. Soluta?
            </p>
        </div>
    </div> 
    <div class="d-flex justify-content-between p-3 ">
        <span class="header-label"> <small>More Notices</small></span>
        <button mat-stroked-button class="filter-btn active  ms-1 " routerLink="../Noticeboard">view all</button>
    </div> 
    <div class="flex-container">
        <div class="d-flex justify-content-between px-3 align-items-center">
            <span><small><button mat-stroked-button class="filter-btn ms-1">Society Issue</button></small></span>
            <span class="opacity-label">30-feb-2023</span>
        </div>
        <hr>
        <div class="d-flex flex-column p-3">
            <div class="header-label">Vaccinatiion for 16 years and above
            </div>
            <p class="mt-2 paragraph-label">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ipsa
                cupiditate quis
                modi quos quaerat? Nam recusandae minima a illum cum. Odio dolores et amet libero voluptates tempore
                veniam ipsa!</p>
        </div>
    </div> 
</div>