<app-header title="Household"></app-header>
<div class=" header-padding bkg-color" style="min-height: 100%;">
    <div class="p-3">
        <div class="d-flex justify-content-between align-items-center">
            <span class="sub-heading-label">My Family</span>
            <span> <button mat-button class="mat-button-small " (click)="openAddHousehold('FAMILY_ADULT')">ADD
                    FAMILY</button></span>
        </div>
        <div class="d-flex flex-wrap justify-content-start gap-3">
            <ng-container *ngFor="let member of (homeOwner$ | async)?.households">
                <div class="p-1 d-flex flex-column align-items-center" style="width: 80px;"
                    *ngIf="member.type === 'FAMILY_ADULT' ||  member.type === 'FAMILY_KID'">
                    <img class="member-photo" (click)="editHouseHold('FAMILY_ADULT',member)"
                        [src]="member.imageUrl ? (member.imageUrl + readSASToken) : 'assets/images/ic_defaultuser.svg'"
                        [ngStyle]="member.imageUrl ? {'object-fit': 'cover'} : {'background-color': 'white', 'object-fit': 'none'}">
                    <div class="small-label mt-1">{{member.truncatedName}}</div>
                    <div class="smallest-opacity-label">{{member.role}}</div>
                </div>
            </ng-container>
        </div>
        <hr class="">
        <div class="d-flex justify-content-between align-items-center">
            <span class="sub-heading-label">Daily Help</span>
            <span> <button mat-button class="mat-button-small" (click)="openAddHousehold('DAILY_HELP')">ADD DAILY
                    HELP</button></span>
        </div>
        <ng-container *ngFor="let helper of (homeOwner$ | async)?.households" class="daily-helper d-flex p-2">
            <div class="daily-helper d-flex p-2" *ngIf="helper.type === 'DAILY_HELP'">
                <img class="member-photo me-3" (click)="editHouseHold('DAILY_HELP',helper)"
                    [ngStyle]="helper.imageUrl ? {'object-fit': 'cover'} : {'object-fit': 'none'}"
                    [src]="helper.imageUrl ? (helper.imageUrl + readSASToken) : 'assets/images/ic_defaultuser.svg'">
                <span class="flex-grow-1 justify-content-center d-flex flex-column">
                    <div class="sub-heading-label">{{helper.name}}</div>
                    <div class="sub-label">{{helper.role}}</div>
                    <div class="sub-label">{{'0'}}</div>
                </span>
                <!-- <span class="align-self-center">{{helper.logo}}</span> -->
            </div>
        </ng-container>
        <hr>
        <div>
            <div class="d-flex justify-content-between align-items-center">
                <span class="sub-heading-label">Frequent Visitors</span>
                <span> <button mat-button class="mat-button-small" (click)="openAddHousehold('FREQUENT_VISITOR')">ADD
                        VISITOR</button></span>
            </div>
            <div class="d-flex flex-wrap justify-content-start  gap-3">
                <ng-container *ngFor="let member of (homeOwner$ | async)?.households">
                    <div class="p-1 d-flex flex-column align-items-center" *ngIf="member.type === 'FREQUENT_VISITOR'">
                        <img class="member-photo" 
                        (click)="editHouseHold('FREQUENT_VISITOR',member)"
                            [ngStyle]="member.imageUrl ? {'object-fit': 'cover'} : {'object-fit': 'none'}"
                            [src]="member.imageUrl ? (member.imageUrl + readSASToken) : 'assets/images/ic_defaultuser.svg'">
                        <div class="small-label mt-1">{{member.truncatedName}}</div>
                        <div class="smallest-opacity-label">{{member.role}}</div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>