.main-container {
    background-color: #f2f2f2;
}

.member-photo {
    height: 80px;
    width: 80px;
    border-radius: 10px;
}

.daily-helper {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.hr {
    margin-top: -1px;
    margin-bottom: -5px;
}