<div class="main-container">
    <div class="d-flex justify-content-between p-3">
        <span style=" visibility: hidden;"> &nbsp; &nbsp;&nbsp;kkkuiii</span>
        <span class="header2-label">Add Family</span>
        <span class="header2-label"  >Cross</span>
    </div>
    <hr class="hr pb-1">
 <form (submit)="addmember()">   
      <div class="d-flex justify-content-center">
         <img class="photo-container" src="http://bluegalaxy.info/images/sea_captain.jpg">
       </div>
      <div  class="togle-container m-3 p-1 ">
         <mat-button-toggle-group class="w-100 togle-group" >
         <mat-button-toggle class="w-50 toggle-button"   value="Adult">Adult</mat-button-toggle>
         <mat-button-toggle class="w-50 toggle-button"  routerLink="/AddKid"  value="kid">kid</mat-button-toggle>
         </mat-button-toggle-group>
     </div>
     <div class="p-3"><div class="sub-mini-label">Phone Number</div>
        <div class=" middle-container w-100">
           <span>
             <select name="countryCode" class="countrycode">
                <option data-countryCode="QT" value="+974" Selected>Qatar +974</option>
                <option data-countryCode="BH" value="+973">Bhrin +973</option>
             </select>
           </span>
           <span>
              <mat-form-field appearance="outline" class="phone-number " hideRequiredMarker>
                <input matInput class="input-number" placeholder="Phone Number" maxlength="12"  minlength="7">
                </mat-form-field>
           </span>
        </div> <br><br>
         <div class="sub-mini-label name">Name</div>
           <mat-form-field  class="mat-family-memberName  w-100" appearance="outline"  hideRequiredMarker>
            <input  matInput class="input-name"  type="text">
            <mat-icon class="mat-icon " matSuffix>perm_contact_calendar</mat-icon>
            </mat-form-field> 
      </div>
     <div class="add-buuton w-100 p-3">
          <button mat-flat-button color="primary" class="mat-flat-button  w-100">Add</button>
     </div>
 </form>
</div>

