<div class="visitor-detail">
    <div class="d-flex justify-content-between px-3 py-2">
        <div class="condition px-2 label-10-700"
            [ngClass]="{pending: log?.status === 'PENDING', approved: log?.status === 'APPROVED', rejected: log?.status === 'REJECTED'} ">
            {{log?.status}}
        </div>
        <hr class="hr">
        <ng-container *ngIf="log?.status === 'PENDING'">
            <div class="opacity-mini-label">{{log?.requestTime | date: 'short'}}</div>
        </ng-container>
        <ng-container *ngIf="log?.status === 'APPROVED'">
            <div class="opacity-mini-label">{{log?.approvedTime | date: 'short'}}</div>
        </ng-container>
        <ng-container *ngIf="log?.status === 'REJECTED'">
            <div class="opacity-mini-label">{{log?.rejectedTime | date: 'short'}}</div>
        </ng-container>
    </div>
    <hr class="hr">
    <div class="p-1  d-flex flex-column align-items-center"></div>
    <div class="daily-helper d-flex p-2">
        <img class="member-photo me-3"
            [ngStyle]="log?.household?.imageUrl ? {'object-fit': 'cover'} : {'background-color': 'white', 'object-fit': 'none'}"
            [src]="log?.household?.imageUrl ? (log?.household?.imageUrl + readSASToken) : 'assets/images/ic_defaultuser.svg'">
        <span class="flex-grow-1 justify-content-center d-flex flex-column">
            <div class="sub-heading-label">{{log?.household?.name}}</div>
            <div class="sub-label">{{log?.household?.role | titlecase }}</div>
            <div class="sub-label">{{log?.household?.formattedType | titlecase }}</div>
        </span>
    </div>
    <hr class="hr">
    <div class="d-flex" *ngIf="log?.status === 'PENDING'">
        <button class="color-primary label-15-400 px-5" (click)="deny()" mat-button>Deny</button>
        <button class="color-primary flex-grow-1 btn-approve" (click)="approve()" mat-button>Approve</button>
    </div>
</div>