.main-container {
   background-color: #F8F8F8;
}

.flex-container {
   background-color: white;
   border-radius: 10px;
}

.filter-btn {
   background-color: #66666633 !important;
   color: #666666 !important;
   font-size: 10px !important;
   border-radius: 4px !important;
   padding: 5px 8px !important;
   height: auto !important;
}