
<app-header title="Noticeboard" rightIcon="start_chat" (onRightClick)="openChat()"></app-header>

<div class=" header-padding bkg-color" style="min-height: 100%;">
    <div class="main-container p-3">
        <mat-chip-list>
            <mat-chip *ngFor="let filter of filters" class="selection-chip"
                [ngClass]="{'active': activeFilter === filter}" (click)="activeFilter = filter">
                {{filter.name}}
            </mat-chip>
        </mat-chip-list>

        <ng-container *ngFor="let notice of (society$ | async)?.notices">
            <div class="flex-container p-3 my-3" *ngIf="activeFilter.name === 'All' || activeFilter.name === 'Society'">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="filter-btn">Society</span>
                    <!-- <div *ngIf="notice.tag">
                        <span><small><button mat-stroked-button class="filter-btn">'Society</button></small></span>
                    </div> -->
                    <span class="opacity-label">{{notice.createdAt | date:'short'}}</span>
                </div>
                <hr>
                <p class="mt-2" [innerHTML]="notice.text"></p>
            </div>
        </ng-container>
    </div>
</div>