.notice-container {
   background-color: #F8F8F8;
   min-height: 100%;
}

.flex-container {
   background-color: white;
   border-radius: 10px;
}

.hr {
   margin-top: 0em;
   margin-bottom: 1em;
   border-width: 2px;
}


.mat-stroke-button {
   padding: 0 15px;
   line-height: 10px;
}