<div class="notice-container pb-3">
    <div class="d-flex justify-content-between p-3 ">
        <mat-icon routerLink="/home-owner">arrow_back</mat-icon>
        <span class="header-label">Noticeboard</span>
        <span class="header-label"></span>
    </div>
    <hr class="hr">
    <!-- <div class="px-3 py-2">
        <button mat-stroked-button class="filter-btn active ms-1 "><b>All</b></button>
        <button mat-stroked-button class="filter-btn  ms-1"> Society</button>
        <button mat-stroked-button class="filter-btn  ms-1">Payment</button>
    </div> -->

    <ng-container *ngFor="let notice of (society$ | async)?.notices">
        <div class="flex-container p-3 m-3">
            <div class="d-flex justify-content-between align-items-center">
                <div *ngIf="notice.tag">
                    <span><small><button mat-stroked-button class="filter-btn">{{notice.tag}}</button></small></span>
                </div>
                <span class="opacity-label">{{notice.createdAt | date:'short'}}</span>
            </div>
            <hr>
            <p class="mt-2" [innerHTML]="notice.text"></p>
        </div>
    </ng-container>

    <!-- <div class="flex-container">
        <div class="d-flex justify-content-between px-3 align-items-center">
            <span><small><button mat-stroked-button class="filter-btn warn ms-1">Payment</button></small></span>
            <span class="opacity-label">30-feb-2023</span>
        </div>
        <hr>
        <div class="d-flex flex-column p-3">
            <div class="header-label">News Paper Service Payment
            </div>
            <p class="mt-2 paragraph-label">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ipsa
                cupiditate quis
                modi quos quaerat? Nam recusandae minima a illum cum. Odio dolores et amet libero voluptates tempore
                veniam ipsa!</p>
        </div>
    </div><br>
    <div class="flex-container">
        <div class="d-flex justify-content-between px-3 align-items-center">
            <span><small><button mat-stroked-button class="filter-btn warn ms-1">Payment</button></small></span>
            <span class="opacity-label">30-feb-2023</span>
        </div>
        <hr>
        <div class="d-flex flex-column p-3">
            <div class="header-label">News Paper Service Payment
            </div>
            <p class="mt-2 paragraph-label">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ipsa
                cupiditate quis
                modi quos quaerat? Nam recusandae minima a illum cum. Odio dolores et amet libero voluptates tempore
                veniam ipsa!</p>
        </div><br>
    </div> -->
</div>