.top-conatainer{
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image:url('/assets/images/art_cardtop.svg');
  background-position-y: 40px;
}

.bottom-container{ 
  background-color:  #f2f2f2;
  margin-top: -20px;
  box-shadow: 0px -10px 15px #33333333;
  padding: 16px;
  top:  140px;
  right: 0%;
  left: 0%;
  bottom: 0%;
  border-radius: 20px;
}

.user-info{ display: flex;
  text-align: center;  
  justify-content: center;
  flex-direction: column;
}

.faded-mail{opacity: 0.63;
  padding-bottom: 40px;
}


.middle-container{
  padding: 8px;
  background-color: white; 
  border-radius: 10px;
} 

.subcontainer{display: flex;
 flex-direction: column;
 justify-content: center;
}

.flex-item { display: flex;
  text-align: center;  
  justify-content: center;
}

.circular-img{
 height: 60px; ;
 width: 60px;
 border-radius: 50%;
}

.img-center{text-align: center;
  margin-top: -45px;
}

.scrollbar{
  float: right;
  width: 10px;
  height: 100%;
  overflow-y: scroll;
  background: #b1c3db;
}

.edit-icon{
  height: 35px;
  width: 35px;
  font-size: 18px;
  border-radius: 25px;
}
