<div class="">
  <div class="top-conatainer">
    <div class="d-flex justify-content-between p-3">
      <mat-icon (click)="back()">chevron_left</mat-icon>
      <span class="header-label">Profile</span>
      <span></span>
    </div>
  </div>
  <div class="bottom-container">
    <div class="img-center">
      <img class="circular-img" src="{{userImage}}" />
    </div>
    <div class="user-info">
      <!-- <div class="header-label">{{userName}}</div> -->
      <div class="title-label">{{(homeOwner$ | async)?.name}}
      </div>
      <div class="faded-mail">{{(homeOwner$ | async)?.email}} </div>
    </div>
    <div class="middle-container">
      <div class="d-flex align-items-center justify-content-between p-3 items" routerLink="/EditProfile">
        <mat-icon
          class="d-flex align-items-center justify-content-center editImage edit-icon"
          style="background: #cfcece; color: black"
          >edit</mat-icon
        >
        <span class="subcontainer">
          <div class="sub-label">Edit Profile</div>
          <div class="smallest-label">
            Lorem ipsum dolor sit amet, consetetur
          </div>
        </span>
        <mat-icon class="mt-1">chevron_right</mat-icon>
      </div>
      
      <div class="d-flex align-items-center justify-content-between p-3 items">
        <mat-icon
          class="d-flex align-items-center justify-content-center editImage edit-icon"
          style="background: #cfcece; color: black"
          >help</mat-icon
        >
        <span class="subcontainer">
          <div class="sub-label">Help & Support</div>
          <div class="smallest-label flex-item">
            Lorem ipsum dolor sit amet, consetetur
          </div>
        </span>
        <mat-icon class="mt-1">chevron_right</mat-icon>
      </div>

      <div class="d-flex align-items-center justify-content-between p-3 items">
        <mat-icon
          class="d-flex align-items-center justify-content-center editImage edit-icon"
          style="background: #cfcece; color: black"
          >settings</mat-icon
        >
        <span class="subcontainer">
          <div class="sub-label">Settings</div>
          <div class="smallest-label flex-item">
            Lorem ipsum dolor sit amet, consetetur
          </div>
        </span>
        <mat-icon class="mt-1">chevron_right</mat-icon>
      </div>
    </div>
    <br />

    <div class="middle-container">
      <div class="d-flex align-items-center justify-content-between p-3 items">
        <mat-icon
          class="d-flex align-items-center justify-content-center editImage edit-icon"
          style="background: #cfcece; color: black"
          >info</mat-icon
        >
        <span class="subcontainer">
          <div class="sub-label">About App</div>
          <div class="smallest-label flex-item">
            Lorem ipsum dolor sit amet, consetetur
          </div>
        </span>
        <mat-icon class="mt-1">chevron_right</mat-icon>
      </div>

      <div class="d-flex align-items-center justify-content-between p-3 items">
        <mat-icon
          class="d-flex align-items-center justify-content-center editImage edit-icon"
          style="background: #cfcece; color: black"
          >security</mat-icon
        >
        <span class="subcontainer">
          <div class="sub-label">Terms of Service</div>
          <div class="smallest-label flex-item">
            Lorem ipsum dolor sit amet, consetetur
          </div>
        </span>
        <mat-icon class="mt-1">chevron_right</mat-icon>
      </div>

      <div class="d-flex justify-content-center p-3 items">
        <!-- <mat-icon
          class="d-flex align-items-center justify-content-center editImage edit-icon"
          style="background: #fcc2c8; color:  #dc3545"
          >exit_to_app</mat-icon
        > -->
        <span class="logout-btn flex-item">
          <button
            (click)="logout()"
            mat-stroked-button
            class="filter-btn warn"
          >Log Out
          </button>
        </span>
        <!-- <span class="sub-container">
          <div class="sub-label p-1" style="color:#dc3545" (click)="logout()">Log Out</div>
        </span>
        <mat-icon style="color:#dc3545">chevron_right</mat-icon> -->
      </div>
    </div>
  </div>
</div>
