// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './theme/label/label-theme' as label;
@use './theme/form-field/form-field-theme' as form-field;
@use './theme/button/button-theme' as button;
@use './theme/mat-chip/mat-chip-theme' as mat-chip;


// Plus imports for other components in your app.
@import './theme/my-habitat-palette.scss';
@import './theme/label/label.scss';
@import './theme/form-field/form-field.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$My-Habitat-primary: mat.define-palette($my-habitat-primary-palette);
$My-Habitat-accent: mat.define-palette($my-habitat-primary-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$My-Habitat-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$My-Habitat-theme: mat.define-light-theme((color: (primary: $My-Habitat-primary,
        accent: $My-Habitat-accent,
        warn: $My-Habitat-warn,
      ),
      typography: (),
      style: ()));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($My-Habitat-theme);
@include label.theme($My-Habitat-theme);
@include form-field.theme($My-Habitat-theme);
@include button.theme($My-Habitat-theme);
@include mat-chip.theme($My-Habitat-theme);

/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', "Helvetica Neue", sans-serif !important;
}


.mat-bottom-sheet-container {
  padding: 0 !important;
  border-radius: 20px 20px 0 0;
  max-height: 80vh !important;
}

.header-padding {
  padding-top: 57px;
}


.bkg-color {
  background: #F8F8F8 !important;
}

.bkg-white {
  background: white !important;
}

.notification {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px;
  border-radius: 4px;
  background: red;
}