<app-loader></app-loader>
<div class="main-container">

    <div class="d-flex justify-content-center py-3">
        <span class="header2-label">Allow Kid Exit</span>
    </div>
    <hr class="hr pb-1">
    <div class="p-3 d-flex justify-content-center flex-column">
        <div class="label-24-100 text-center">
            Allow my kid to exit in next
        </div>

        <div class="d-flex my-4  justify-content-center">
            <div class="d-flex time-capsule align-items-center">
                <div class="p-3" (click)="decrement()">
                    <mat-icon style="color: white">arrow_downward</mat-icon>
                </div>
                <div class="hours-label label-20-300">{{hours}} hrs</div>
                <div class="p-3" (click)="increment()">
                    <mat-icon style="color: white">arrow_upward</mat-icon>
                </div>
            </div>
        </div>

        <div class="mt-4 mb-5 d-flex flex-wrap justify-content-center">
            <div *ngFor="let kid of kids$ | async" class="d-flex mx-2  flex-column align-items-center"
                (click)="selectedKid = kid">
                <div class="d-flex justify-content-center">
                    <img [ngClass]="{'active': selectedKid === kid}" class="mb-1 photo-container"
                        [src]="kid.imageUrl ? (kid.imageUrl + readSASToken) : 'assets/images/ic_defaultuser.svg'"
                        [ngStyle]="kid.imageUrl ? {'object-fit': 'cover'} : {'background-color': 'white', 'object-fit': 'none'}">
                </div>
                <label class="small-label">{{kid.truncatedName}}</label>
            </div>
        </div>

        <button mat-flat-button color="primary" class="mat-flat-button w-100" (click)="allowExit()">Allow Exit</button>
    </div>
</div>