@import "src/theme/_variables.scss";

.image-container {
    // background-color: $primary;
    // border-radius: 20px 20px 0 20px;
    // max-width: 50%;
}

img {
    object-fit: cover;
    max-width: 50%;
    border-radius: 20px 20px 0 20px;
}