.filter-btn {
    background-color: #FDB63F44;
    color: #FDB63F !important;
    font-size: 10px !important;
    border-radius: 4px !important;
    padding: 5px 8px !important;
    height: auto !important;
}