<div class="bkg-white mb-3 d-flex flex-column" style="border-radius: 10px;">

    <div class="m-2">
        <span class="filter-btn">UPCOMING</span>
    </div>
    <div class="d-flex p-3" style="border-top: 1px solid #e2e2e2;">
        <div style="width: 35%;">
            <div class="header2-label color-dark">{{reservation?.type}}</div>
            <div class="label-14-400 color-primary">Date</div>
            <div class="label-14-400 color-primary">Slot</div>
        </div>
        <div class="flex-grow-1">
            <div class="label-14-400 color-primary">&nbsp;</div>
            <div class="label-14-400 color-primary"> {{reservation?.eventStartDate | date: 'mediumDate'}}</div>
            <div class="label-14-400 color-primary">{{reservation?.eventStartDate | date: 'shortTime'}} -
                {{reservation?.eventEndDate | date: 'shortTime'}}
            </div>
        </div>
    </div>

    <div class="d-flex" style="border-top: 1px solid #e2e2e2;">
        <button mat-button class="label-15-400 color-primary" (click)="cancel()"
            style="width: 30%; border-right: 1px solid #e2e2e2;">Cancel</button>
        <button mat-button class="flex-grow-1 label-15-700 color-primary" (click)="edit()">Edit</button>
    </div>
</div>